@charset 'utf-8';

html {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
}

body{
    /* 스크롤 필요 없을때 막기 */
    overflow-x : hidden; 
    color : rgb(29,29,31);
    letter-spacing: -0.05em;
    background: white;
}

p{
    line-height: 1.6;
}

.global-nav{
    
}